.App {
  text-align: center;
}

.container {
  margin:  0 auto;
  padding: 10px;
  max-width: 1000px;
  border: 1px solid #eee;
}

.tasksList {
  margin-top: 10px;
  padding: 0 10px;
  /* border: 1px solid black; */
  text-align: left;
}

.task {
  display: flex;
  margin: 5px auto;
  padding: 5px 20px;
  border: 1px solid black;
  justify-content: space-between;
}